<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        var x="<%= user.adventurer %>";
        $(function () {
            const socket = io();
            $('#taketurn').submit(function(t) {
                t.preventDefault();
                socket.emit('take turn', t)
                $('#')
            })
            $('#chitchat').submit(function(e) {
                e.preventDefault(); // prevents page reloading
                var xmessage = {message: $('#talk').val(), sender: x}
                socket.emit('chat message', xmessage)
                $('#talk').val('');
                return false;
            })
            socket.on('chat message', function(msg){
                console.log(x.adventurer);
                $('#messages').prepend($('<li>').text(msg.sender + ": " + msg.message))
            })
        })
    </script>
</head>
<body>
    <link href="/grid.css" rel="stylesheet" type="text/css">

    <h2>The Adventure of ... YOU!</h2>
    <div id="grid_css">
    <div id="chat">
    <div id="map">
        <svg id="room">
            <rect id="drawing" width = "<%= width %>" height="<%= height %>" 
                style="fill:black;stroke-width:4; stroke:gray" />
        </svg>
    </div>
        <div id="list">
            <ul id="messages">
            </ul>
        </div>
        <form id="chitchat" action="send">
            <input id="talk" autocomplete="off" /><button id="chatbutton">Chat</button>
        </form>
    </div>
    <div id="characters">
        <div id="stats">
            <h3><%= user.adventurer %> vs</h3>
            <table>
                <th>
                    <tr>
                        <td>Atk:</td>
                        <td class="attr"><%= user.atk %></td>
                    </tr>
                    <tr>
                        <td>Def:</td>
                        <td class="attr"><%= user.def %></td>
                    </tr>
                    <tr>
                        <td>HP:</td>
                        <td class="attr"><%= user.hp %></td>
                    </tr>
                    <tr>
                        <td>Mgc:</td>
                        <td class="attr"><%= user.mgc %></td>
                    </tr>
                </th>
            </table>
            <!--<form action="new" method="POST">-->
            <form id="taketurn" method="send">
                <input type="radio" name="action" value="melee">Melee<br>
                <input type="radio" name="action" value="magic">Magic<br>
                <input type="radio" name="action" value="block">Block<br>
                <input type="radio" name="action" value="panic">Panic<br>
                <button>Take Turn</button>
            </form>
        </div>
        <div id="monster">
            <h3>Evil Elmo</h3>
            <p>HP: 300</p>
            <svg width="10%" height="20%">
                <line x1="15" y1="0" x2="15" y2="200" style="stroke:rgb(255,0,0);
                    stroke-width: 55" />
            </svg>
        </div>
    </div>
    </div>
</body>